.body_Post {
    min-height: 500px !important;
    background-color: rgb(255, 255, 255) !important;
    margin-top: 10px !important;
    padding: 10px  !important;
    margin-bottom: 10;
  }
  
  .profile_Post {
    padding: 10px;
  }

  
  .content_Post {
    padding: 10px;
    font-family: 'Josefin Sans', cursive;
  }
  .profile_photo{
      position: absolute !important;
      margin-top: 165px !important;
  }

  .info{
      
      margin-left: 40px !important;
      margin-bottom: 10px !important;
  }

  .organisation{
      margin-top: 10px !important;
      margin-left: 28px !important;
  }

  .profile{
    margin-top: 65px !important;
  }
  
  /* @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext"); */
  